*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: cadetblue;
  color: white;
}

.container{
  width: 75%;
  padding: 20px;
  margin: auto;
  height: 100vh;
}

.repo-one{
  margin: 10px 0;
}

label{
  font-family: sans-serif;
  font-weight: bold;
}

input{
  width: 100%;
  padding: 5px;
}

.btn{
  width: 40%;
  padding: 7px 3px;
  margin: 10px 200px;
  font-size: larger;
  color: white;
  background-color: burlywood;
  opacity: 0.9;
  text-align: center;
}

.btn:hover{
  opacity: 1;
  cursor: pointer;
}